-#  This file is app/views/movies/schedules.html.haml

%h3= "Use this page to edit your schedule!"

- @schedule.acts.each do |act|
  %table{:id => "act"+act.number.to_s}
    %thead
      %tr
        %th{:id =>"Insert Dance into Act#{act.number}"}= "Act #{act.number}"
    %tbody{:class => "sortable", "data-url" => sort_performances_path}
      - @ordered_performances[act.number].each do |perf|
        %tr{:id => dom_id(perf)}
          %td.actformat
            = perf.name
        - if @conflicting_performances.include? perf.id
          %tr
            %td
            %td= "Conflict!!!"
            - @conflicts[act.number].each do |conflict|
              - if conflict[:first_performance] == perf.name
                - conflict[:dancers].each do |dancer_name|
                  %td= dancer_name
  %p
  = form_tag performances_path do
    = text_field_tag :new_performance_name, nil
    %br
    = hidden_field_tag :act_id, act.id
    = hidden_field_tag :position, @ordered_performances[act.number].length
    = hidden_field_tag :schedule, false
    = hidden_field_tag :locked, false
    = hidden_field_tag :schedule_id, act.schedule_id
    = submit_tag "Insert Dance into Act#{act.number}"

= link_to "Refresh", edit_schedule_path(id: @schedule.id)